<app-header></app-header>
<p>participating works! : 릴레이툰 참가하기!</p>

<div class="container">
    <form ngNoForm [action]="url" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="col">
                <label for="exampleFormControlFile1">이미지 파일</label>
                <div class="custom-file">
                    <input type="file" class="form-control-file" id="fileupload" name="fileupload" (change)="onChange($event)" />
                    <div *ngIf="img" class="card" style="width: 18rem;">
                        <img [src]="img" class="card-img-top" alt="원본" />
                        <textarea class="col" cols="50" rows="50" id="base64" name="base64" [(ngModel)]="img"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" value="올리기">
    </form>

    <!-- <div *ngIf="img" class="card" style="width: 18rem;">
        <img [src]="img" class="card-img-top" alt="원본" />
        <textarea class="col" cols="50" rows="50" id="base64" name="base64" [(ngModel)]="img"></textarea>
    </div> -->
</div>

<div class="test">
    <div>Post Id: {{postId}}</div>
    <!-- <img [src]="imgSource" /> -->
</div>