<app-header></app-header>
<p>게시글 수정하기</p>

<div>
    <form ngNoForm [action]="url" method="post" enctype="multipart/form-data">
        <table summary="게시판 답글 폼">
            <!-- <caption><b>게시판 답글 폼</b></caption> -->
            <colgroup>
                <col width="100px" />
                <col width="500px" />
            </colgroup>

            <tbody>
                <tr>
                    <th>제목</th>
                    <td>
                        <input type="text" id="title" name="title" maxlength="50" value="{{this.title}}"/>
                    </td>
                </tr>
                <tr>
                    <th>작성자 아이디</th>
                    <td>
                        <p type="text" id="writer" name="writer" maxlength="50" value="" >{{this.writer}}</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea id="contents" name="contents" rows="15" cols="75">{{this.content}}</textarea>
                    </td>
                </tr>
                <div class="form-group">
                    <div class="col">
                        <label for="exampleFormControlFile1">이미지 파일</label>
                        <div class="custom-file">
                            <!--파일 선택 버튼-->
                            <input type="file" class="form-control-file" id="fileupload" name="fileupload"
                                (change)="onChange($event)" />
                            <!--이미지를 보이게 하는 곳-->
                            <div *ngIf="img" class="card" style="width: 18rem;">
                                <img [src]="img" class="card-img-top" alt="원본" />
                                <textarea class="col" cols="50" rows="50" id="base64" name="base64" [(ngModel)]="img"
                                    hidden></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </tbody>
        </table>
        <p>
            <input type="submit" value="수정하기" />
            <input type="button" (click)="goToParticipantPage()" value="취소" />
        </p>
    </form>
</div>

<!-- <div class="test">
    <div>Post Id: {{postId}}</div>
    <img [src]="imgSource" />
</div> -->