<div style="text-align: left;">
    <p>댓글()</p>
    <hr>
</div>

<div class="comments-box">
    <div class="col-4" *ngFor="let comm of commentList">
        <p hidden>{{comm.idx}}</p>
        <!-- 닉네임 -->
        <p><strong>닉네임</strong> {{comm.writer}} </p>
        <!-- 댓글내용 -->
        <p>댓글내용</p> {{comm.content}}
        <!-- 날짜 -->
        <p>날짜</p> {{comm.date}}
        <button class="menu" [matMenuTriggerFor]="menu">
            <mat-icon> list </mat-icon>
        </button>
        <hr>
    </div>
</div>

<form ngNoForm [action]="comment_insert_url" method="post" enctype="multipart/form-data">
    <div class="writing-box row row-col-6">
        <div class="form__group field col-2">
            <input class="form__field" placeholder="Name" type="text" name="title" maxlength="50" value="" />
            <label for="Name" class="form__label">닉네임</label>
        </div>
        <div class="col-10">
            <textarea class="form-control" placeholder="댓글을 남겨보세요" name="contents" rows="2" cols="50"></textarea>
        </div>
        <div class="comment-button">
            <input class="w-btn" type="submit" value="댓글 등록" />
        </div>
    </div>
</form>

<mat-menu class="mat" #menu="matMenu">
    <input mat-menu-item type="button" value="수정하기" />
    <form ngNoForm [action]="delete_url" method="get" enctype="multipart/form-data">
        <input mat-menu-item type="submit" (click)="deleteAlert()" value="삭제하기" />
    </form>
</mat-menu>