<app-header></app-header>
<p>참가작 상세 페이지</p>

<div>

    <table summary="게시판 답글 폼">
        <!-- <caption><b>게시판 답글 폼</b></caption> -->
        <colgroup>
            <col width="100px" />
            <col width="500px" />
        </colgroup>

        <tbody>
            <tr>
                <th>제목</th>
                <td>
                    <p type="text" id="title" name="title" maxlength="50" value="">{{this.title}}</p>
                </td>
            </tr>
            <tr>
                <th>작성자</th>
                <td>
                    <p type="text" id="writer" name="writer" maxlength="50" value="">{{this.writer}}</p>
                </td>
            </tr>
            <tr>
                <th>작성 날짜</th>
                <td>
                    <p type="text" id="date" name="date" maxlength="50" value="">{{this.date}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{{this.img}}" style="width: 500px; height: 500px;" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea id="contents" name="contents" rows="15" cols="75">{{this.content}}</textarea>
                </td>
            </tr>

        </tbody>
    </table>
    <p>
        <input type="button" (click)="goToParticipatingModify()"value="수정하기" />
        <input type="button" value="삭제하기" />
        <input type="button" (click)="goToParticipatingWorks()" value="목록으로" />
    </p>

</div>