<app-header></app-header>

<div class="container text-center">

    <span>🧸Relay-Toon🧸</span>
    <div class="form__group field">
        <input class="form__field" placeholder="Name" type="text" id="title" name="title" maxlength="50"
            value="{{this.title}}" disabled/>
        <label for="Name" class="form__label">제목</label>
    </div>

    <div class="form__group field">
        <input class="form__field" placeholder="Name" type="text" id="writer" name="writer" maxlength="50"
            value="{{this.writer}}" disabled/>
        <label for="Name" class="form__label">작성자</label>
    </div>

    <div class="form__group field">
        <input class="form__field" placeholder="Name" type="text" id="date" name="date" maxlength="50"
            value="{{this.date}}" disabled/>
        <label for="Name" class="form__label">작성날짜</label>
    </div>

    <div class="form__group field">
        <img src="{{this.img}}" style="width: 500px; height: 500px;" />
    </div>

    <div class="form__group field">
        <input class="form__field" placeholder="Name" type="text" id="contents" name="contents" maxlength="50"
            value="{{this.content}}" disabled/>
        <label for="Name" class="form__label">작품설명</label>
    </div>

    <div class="row">
        <input class="col w-btn" type="button" (click)="goToParticipatingModify()" value="수정하기" />
        <input class="col w-btn" type="button" value="삭제하기" />
        <input class="col w-btn" type="button" (click)="goToParticipatingWorks()" value="목록으로" />
    </div>

</div>