<app-header></app-header>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<div class="relay_participantPage_title">
    <h2>릴레이툰 참가작</h2>
</div>

<div class="container">

    <div *ngFor="let item of boardList" class="col">
        <div class="card shadow-2dp" (click)="goToParticipantDetail()">
            <img id="pic-container" cImg fluid src="{{item.img}}" />
            <div id="caption">
                <p name="rp_id" hidden>{{item.idx}}</p>
                <p id="description">{{item.title}}</p>
                <p id="description">{{item.writer}}</p>
                <p id="description">{{item.date}}</p>
                <p id="description">{{item.like}}</p>
                <p id="description">{{item.looks}}</p>
            </div>
        </div>
    </div>

</div>