<div class="container text-center">
    <div>
        <img cImg fluid src="../../assets/img/squareLogo.png" />
    </div>
    <div class="row">
        <h1>안녕하세요!<br>
            모두를 위한<br>
            스퀘어입니다.</h1>
    </div>
    <br>
    <div class="row">
        <h2>릴레이툰<br>
            제시된 주제로<br>
            이어질 한 컷을 만들어보세요!</h2>
    </div>
    <br>
    <div class="row">
        <h2>
            12월 31일까지 응모가능</h2>
    </div>
    <div class="row">
        <div class="col">
            <button (click)="participatingWorks()" class="btn btn-secondary"> 참가작보기 </button>
        </div>



<div class="col">
    <button (click)="participating()" class="route-button"> 참가하기 </button>
</div>
</div>

<div class="test">
    <div>Post Id: {{postId}}</div>
</div>