.route-button {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 40%;
    text-decoration: none;
    color: white;
    border: white solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 15rem;
    padding: 1.5rem;
    background-color: rgb(55, 55, 55);
  }